.MyOrders {
  margin: 15vh 30px 0 30px;
}

.MyOrders h2 {
  text-align: left;
}

.MyOrders h4 {
  text-align: left;
}

.Cards {
  overflow: auto;
  white-space: nowrap;
  /* display: inline-flex; */
  /* flex-flow: row; */
  justify-content: space-between;
}
