h2 {
  font-family: "Tillana", cursive;
  font-weight: bold;
  text-align: center;
  color: #003049;
  font-size: 2rem;
  margin-bottom: 0;
}

h4 {
  font-family: "Tillana", cursive;
  font-weight: lighter;
  text-align: center;
  color: #003049;
  margin: 0 auto;
}

.Price {
  margin: 0 ;
  padding: 0;
}

.Ingredients {
  margin-top: 20px;
  font-size: 1.2rem;
}
.Ingredients label {
  text-transform: capitalize;
}
.Ingredients ul {

  margin: 0 ;
  padding: 0; 
}

.IngAmount{
  font-family: "Tillana", cursive;  
  
}

.Ingredients li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 5px 50px;

}

.ModalButton {
  margin: 0 auto;
  display: block;
  background: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px 0;
  width: 180px;
  font-weight: bold;
}
.ModalButton button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.OrderButton {
  border: 5px solid #003049;
  color: #003049;
}

.CancelButton {
  border: 5px solid #d62828;
  color: #d62828;
}

@media only screen and (min-width: 601px) {
  .ModalButton {
    /* margin: 50px auto; */
  }
}
