.BuilderOptions {
  margin: auto;
  display: block;
  text-align: left;
  padding: 10px 0px;
  width: 60%;
  height: 20vh;
  background-color: #003049;
  /* background-image: linear-gradient(to bottom, #051937, #08244b, #0a305f, #0b3d75, #094a8b); */
  border-radius: 10px;
  color: #EAE2B7;
}

.TotalPrice{
  text-align: center
}