.Option {
  display: flex;
  justify-content: space-between;

  margin: 10px;
}

.Label {
  color: #fcbf49;
  font-weight: bold;
  margin-left: 5vh;
}

.LessButton {
  border: 2px solid #d62828;
  color: #d62828;
}

.LessButton:hover {
  border: 2px solid #db4343;
  color: #db4343;
}

.LessButton:disabled {
  color: #004266;
  border: 2px solid #004266;
}

.MoreButton {
  border: 2px solid #f77f00;
  color: #f77f00;
}

.MoreButton:hover {
  border: 2px solid #fcbf49;
  color: #fcbf49;
}

.OptionButtons {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.OptionButtons button {
  background: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100px;
  padding: 2px;
  margin: 0 10px;
}
