.Option {
  display: flex;
  margin: 10px;
}

.Label {
  color: #fcbf49;
  font-weight: bold;
  margin: 0 100px;
}

.LessButton {
  border: 2px solid #d62828;
  color: #d62828;
}

.LessButton:hover {
  border: 2px solid #DB4343;
  color: #DB4343;
}

.LessButton:disabled {
  color: #004266;
  border: 2px solid #004266;
}

.MoreButton {
  border: 2px solid #f77f00;
  color: #f77f00;
}

.MoreButton:hover {
  border: 2px solid #fcbf49;
  color: #fcbf49;
}

.OptionButtons {
  margin: auto;
  background: none;
  border-radius: 30px;
  cursor: pointer;
  width: 80px;
  padding: 2px;
}
